<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Soomla Custom Secret</key>
		<string>FLAP_PYBLU_EPR_INTTWO</string>
		<key>Soomla IAP Coin Booster Pack ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.BoosterPack</string>
		<key>Soomla IAP Coin Mega Pack ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.MegaPack</string>
		<key>Soomla IAP Coin Ultra Pack ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.UltraPack</string>
		<key>Soomla IAP Coin Impossible Pack ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.ImpossiblePack</string>
		<key>Soomla IAP Coin Ultimate Pack ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.UltimatePack</string>
		<key>Soomla IAP Double Coins ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.X2Coins</string>
		<key>Soomla IAP No Ads ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.NoAds</string>
		<key>Chartboost App ID</key>
		<string>543178b8c26ee4782ffa28ac</string>
		<key>Chartboost App Signature</key>
		<string>3bb07eafd0604ab4f158dfd98e38e8fc6d861e49</string>
		<key>Chartboost Show Ad At Startup</key>
		<string>YES</string>
		<key>Chartboost Show Ad At Game Over</key>
		<string>NO</string>
		<key>RevMob Media ID</key>
		<string>54317a5ec0e1ca4807f6cbc9</string>
		<key>RevMob Startup Placement ID</key>
		<string>54317aa17e7c2fd206c0d711</string>
		<key>RevMob Game Over Placement ID</key>
		<string>54317ad2306a4b3207e835f0</string>
		<key>RevMob Show Ad At Startup</key>
		<string>YES</string>
		<key>RevMob Show Ad At Game Over</key>
		<string>NO</string>
		<key>Vungle App ID</key>
		<string>54317c6da361795405000057</string>
		<key>Vungle Show Ad At Startup</key>
		<string>NO</string>
		<key>Vungle Show Ad At Game Over</key>
		<string>YES</string>
		<key>Game Center Leaderboard ID</key>
		<string>com.SandorNagy.FlappyBlueprintTwo.Scores</string>
		<key>Ads Frequency Startup</key>
		<string>4</string>
		<key>Ads Frequency Game Over</key>
		<string>3</string>
		<key>XLink</key>
		<string>PLEASE_DO_NOT_EVER_CHANGE_ME</string>
	</dict>
</array>
</plist>
